# Stock prediciton with training data

In [1]:
import numpy as np
import pandas as pd
#from fbprophet import Prophet

In [2]:
df = pd.read_csv('data.csv', sep=';')

In [3]:
df.head()

,,,,,,sep=,Unnamed: 1
Date,Highprice,Lowprice,Closingprice,Averageprice,Totalvolume,Turnover,NaN
2020-02-28,"1,689.67","1,646.11","1,668.84",NaN,1,NaN,NaN
2020-02-27,"1,779.72","1,691.13","1,721.59",NaN,1,NaN,NaN
2020-02-26,"1,787.07","1,709.32","1,782.10",NaN,1,NaN,NaN
2020-02-25,"1,812.90","1,766.33","1,769.14",NaN,1,NaN,NaN

In [4]:
with open("data.csv",'r') as f:
    with open("updated_test.csv",'w') as f1:
        next(f) # skip header line
        for line in f:
            f1.write(line)

In [5]:
df = pd.read_csv('updated_test.csv', sep=';')

In [6]:
df = df[['Date', 'Closingprice']]
df.columns = ['ds', 'y']

In [9]:
df['y'] = df.y.str.replace(',','')

In [10]:
df['y'] = df['y'].astype(float)

In [ ]:
df = df.iloc[::-1]
df = df.reset_index(drop=True)

In [ ]:
df

In [ ]:
import sys
print(sys.version)

In [ ]:
help('modules')

In [16]:
df.y[-1:].values[0]

1405.85